---
title: Blocks
---

<div id="main">

	<div class="container">

		<H1>Hello, Blocks!</H1>
		<p>Sample content blocks with layouts and some basic styles.<br /></p>


		<div class="block editable">

			<div class="layout">
			
				<div class="col-12">

					<h1>Heading 1</h1>
					<p><%= lorem.sentences 6 %></p>
					<h2>Heading 2</h2>
					<p><%= lorem.sentences 6 %></p>
					<h3>Heading 3</h3>
					<p><%= lorem.sentences 6 %></p>
					<h4>Heading 4</h4>
					<p><%= lorem.sentences 6 %></p>

				</div>

			</div>

		</div>

		<div class="block editable">

			<div class="layout">

				<div class="col-12">

					<h1>THE ANT AND THE DOVE</h1>
					<p> AN ANT went to the bank of a river to quench its thirst, andbeing carried away by the rush of the stream, was on the point of drowning.  A Dove sitting on a tree overhanging the water pluckeda leaf and let it fall into the stream close to her.  The Ant climbed onto it and floated in safety to the bank. Shortly afterwards a birdcatcher came and stood under the tree, and laidhis lime-twigs for the Dove, which sat in the branches.  The Ant,perceiving his design, stung him in the foot.  In pain the birdcatcher threw down the twigs, and the noise made the Dovetake wing.</p>

					<p><i>One good turn deserves another</i></p>

				</div>

			</div>

		</div>

		<div class="block editable">

			<div class="layout">
				
				<div class="col-6">

					<h2>THE ONE &amp; ONLY</h2>
					<p><%= lorem.sentences 5 %></p>

				</div>			

				<div class="col-6 last">

					<p><img src="http://fillmurray.com/500/500" alt=" "/></p>

				</div>

			</div>

		</div>

		<div class="block editable">

			<div class="layout">
				<div class="col-6">

					<h3>SOMETHING GREAT</h3>
					<p><%= lorem.sentences 3 %></p>

				</div>			

				<div class="col-6 last">
					
					<h3>SOMETHING GREATER</h3>
					<p><%= lorem.sentences 3 %></p>

				</div>
			</div>

		</div>


		<div class="block editable">

			<div class="layout">

				<div class="col-4">

					<h4>CONSIDER THESE FACTS</h4>
					<ol>
						<li><%= lorem.words 3 %></li>
						<li><%= lorem.words 5 %></li>
						<li><%= lorem.words 9 %></li>
						<li><%= lorem.words 14 %></li>
					</ol>

				</div>			

				<div class="col-8 last">
					
					<h4>AND THIS FACE</h4>
					<p><img src="http://fillmurray.com/800/400" alt=" "/></p>

				</div>
			</div>

		</div>

		<div class="block editable">

			<div class="layout">

				<div class="col-12">

					<blockquote><%= lorem.sentences 3 %></blockquote>

				</div>

			</div>

		</div>




	</div>

</div>
