---
title: Blocks
---

    <script>

      $(document).ready(function() { 	
          console.log( "ready!" );
          $(".block").removeClass("editable");
          $(".block").addClass("hidden");
      	  $(".block:first").removeClass("hidden").addClass("current");
		});

      $(document).keydown(function(e) {
	    switch(e.which) {
	        case 37: // left

	        console.log("left");
	        $(".block.current").prev().removeClass("hidden").addClass("prev");
	        $(".block.current").removeClass("current").toggleClass("hidden").removeClass("prev");
	        $(".block.prev").addClass("current");


	        break;

	        case 38: // up
	        break;

	        case 39: // right

	        console.log("right");
	        console.log($(".block.current").next(".block").attr("id"));
	       	
	       	$(".block.current").next(".block").removeClass("hidden").addClass("next");
	       	$(".block.current").removeClass("current").toggleClass("hidden").removeClass("next");
	       	$(".block.next").addClass("current");

	        break;

	        case 40: // down
	        break;

	        default: return; // exit this handler for other keys
	    }
	    e.preventDefault(); // prevent the default action (scroll / move caret)
	});

     	 
    </script>


<div id="main">

	<div class="container">

		<div class="block editable">

			<div class="layout">

				<div class="col-12">

					<div class="format center">
					<h1>MY AMAZING TITLE<br /> IS ABSOLUTELY AMAZING, DUDE</h1>
					<p><img class="media" src="http://fillmurray.com/500/200" alt=" "/></p>

					</div>

				</div>

			</div>

		</div>


		<div class="block editable">

			<div class="layout">

				<div class="col-12">

					<h1>THE ANT AND THE DOVE</h1>
					<p> AN ANT went to the bank of a river to quench its thirst, andbeing carried away by the rush of the stream, was on the point of drowning.  A Dove sitting on a tree overhanging the water pluckeda leaf and let it fall into the stream close to her.  The Ant climbed onto it and floated in safety to the bank. Shortly afterwards a birdcatcher came and stood under the tree, and laidhis lime-twigs for the Dove, which sat in the branches.  The Ant,perceiving his design, stung him in the foot.  In pain the birdcatcher threw down the twigs, and the noise made the Dovetake wing.</p>

					<p><i>One good turn deserves another</i></p>

				</div>

			</div>

		</div>

		<div class="block editable">

			<div class="layout">
				
				<div class="col-6">

					<h2>THE ONE &amp; ONLY</h2>
					<p><%= lorem.sentences 5 %></p>

				</div>			

				<div class="col-6 last">

					<p><img class="media" src="http://fillmurray.com/500/500" alt=" "/></p>

				</div>

			</div>

		</div>

		<div class="block editable">

			<div class="layout">
				<div class="col-6">

					<h3>SOMETHING GREAT</h3>
					<p><%= lorem.sentences 3 %></p>

				</div>			

				<div class="col-6 last">
					
					<h3>SOMETHING GREATER</h3>
					<p><%= lorem.sentences 3 %></p>

				</div>
			</div>

		</div>


		<div class="block editable">

			<div class="layout">

				<div class="col-4">

					<h4>CONSIDER THESE FACTS</h4>
					<ol>
						<li><%= lorem.words 3 %></li>
						<li><%= lorem.words 5 %></li>
						<li><%= lorem.words 9 %></li>
						<li><%= lorem.words 14 %></li>
					</ol>

				</div>			

				<div class="col-8 last">
					
					<h4>AND THIS FACE</h4>
					<p><img class="media" src="http://fillmurray.com/800/400" alt=" "/></p>

				</div>
			</div>

		</div>

		<div class="block editable">

			<div class="layout">

				<div class="col-12">

					<blockquote><%= lorem.sentences 3 %></blockquote>

				</div>

			</div>

		</div>


		<div class="block editable">

			<div class="layout">

				<div class="col-12">

					<hr />

				</div>

			</div>

		</div>






	</div>

</div>
